*{
  box-sizing: border-box;
}

#index-toggle{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
#index{
  position: fixed;
  min-height: fit-content;
  top: 0;
  right: 0;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: hidden;
}
#indexUp{
  position: fixed;
  right: 50px;
  top: 10px;
  z-index: 6;
}
#indexDown{
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 6;
}
#index-list{
  background-color: red;
  position: relative;
  top: 0px;
}

#content{
  overflow-wrap: break-word;
  overflow: auto;
}

/* @media only screen and (max-width: 768px) {
} */

h1{
  text-align: center;
}

a{
  color: var(--color1);
  text-decoration: none;
}

/* Index */
li a{
  text-decoration: none;
  color: black;
}
.index-li-h2{
  /* list-style-type: square;  */
  padding-top: 10px;
}
.index-li-h3{
  /* text-indent: 20px; */
  list-style-type: disc; 
  list-style-position: inside;
}
.index-li-h4{
  text-indent: 20px;
  list-style-type: circle; 
  list-style-position: inside;
}

/* Code */
samp{
  padding: 2px 6px;
  border-radius: 4px;
}
pre{
  padding: 5px 10px;
  border-radius: 10px;
  width: min-content;
}
code{
  overflow-wrap: break-word;
}

/* tables */
table{
  border: 3px solid;
  border-collapse: collapse;
}
th {
  border: 2px solid;
}
td{
  border: 1px solid;
}

